<main style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background: #eee; padding: 20px;">
  <mat-card style="width: 100%; max-width: 500px; padding: 20px;">
    <mat-card-header>
      <mat-card-title>{{ title() }}</mat-card-title>
    </mat-card-header>

    <mat-card-content style="margin-top: 20px; text-align: center;">
      
      
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".vtt" style="display: none">
      <button mat-raised-button color="primary" (click)="fileInput.click()" [disabled]="isUploading()">
      <mat-icon>description</mat-icon>
        Subir Archivo Transcripción (.VTT)
      </button>

      <div *ngIf="isUploading()" style="margin-top: 20px;">
        <p>Procesando transcripcion...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div *ngIf="result()" style="margin-top: 20px; background: #fff; padding: 10px; border-radius: 5px; text-align: left;">
        <h3>Resultado:</h3>
        <pre>{{ result() | json }}</pre>
      </div>
    </mat-card-content>
  </mat-card>
</main>
